.inner {
    padding: 50px 0;
}

.board-detail {
    width: 70vw;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 20px;
}

.p_id {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    color: #888;

}

.p_content {
    margin-top: 20px;
    min-height: 200px;
}

.bd-btn {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
}