.home-swiper{
    height: 60rem;
}

.home-swiper .swiper-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white; 
    text-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.text-content-wrapper {
    background-color: rgba(0, 0, 0, 0.4); 
    padding: 2rem 3rem;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.text-content-wrapper h4 {
    font-size: 3rem; 
    margin-bottom: 1rem; 
}

.text-content-wrapper p {
    font-size: 1.5rem;
    margin: 0;
}

.home-swiper .swiper-slide h4,
.home-swiper .swiper-slide p {
    margin: 0;
}